{% for day in page.schedule %}
<h2 class="module-header">{{ day.date | date: "%A, %B %d, %Y" }}</h2>
{% if day.events %}
{% for event in day.events %}
<div class="module {{ event.type | slugify }}">
  {% capture start %}{% include minutes.liquid time=event.start %}{% endcapture %}
  {% capture end %}{% include minutes.liquid time=event.end %}{% endcapture %}
  <h3>{{ event.name }}</h3>
  <div class="time">{{ event.start }}–{{ event.end }}</div>
  {% if event.location %}
  <div class="location">Location: {{ event.location }}</div>
  {% endif %}
  {% if event.instructors %}
  {% for instructor in event.instructors %}
  <div>
    {{ instructor | markdownify | remove: '<p>' | remove: '</p>' }}
  </div>
  {% endfor %}
  {% endif %}
  <div>
    {{ event.description | markdownify }}
  </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
